target
/log/*.log
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/lib/
/target/
/target/*
.classpath
.project
.settings
.metadata
classes
/.DS_Store
/.tomcatplugin
/work/
*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.metadata/
.idea/
logs/
*.rdb
*.versionsBackup
.flattened-pom.xml
.svn
.factorypath