<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.m2m.mapper.ExtAppConfigMapper">
	<select id="getConfigName" resultType="java.lang.String">
		SELECT 
		type_name AS configName 
		FROM  
		app_config 
		GROUP BY type_name
	</select>

</mapper>